/packages/*
!/packages/base/
/packages/base/storage/session/*
/packages/base/.php-cs-fixer.cache
/packages/base/storage/private/cache/*
/packages/base/storage/protected/logs/*
/packages/base/storage/public/frontend/*
/packages/base/storage/private/frontend/*
/packages/base/storage/private/sessions/*
/packages/base/storage/private/http_client_cookies/*
!/packages/base/storage/private/cache/.gitkeep
!/packages/base/storage/private/sessions/.gitkeep
!/packages/base/storage/protected/logs/.gitkeep
!/packages/base/storage/public/frontend/.gitkeep
!/packages/base/storage/private/http_client_cookies/.gitkeep
!/packages/base/storage/private/frontend/webpack.config.js