parameters:
  level: 0
  paths:
    - libraries
    - bootstrap.php
    - defaultClassMap.php
  ignoreErrors:
    - "/(Class|Interface|Trait) .+ referenced with incorrect case/"
    - "/Unsafe usage of new static/"
    - "/Undefined variable: \\$prefix/"
